[submodule ".registry"]
	path = .registry
	url = https://github.com/gam-mafia/gam-mafia.r-universe.dev
	branch = HEAD
[submodule "MRFtools"]
	path = MRFtools
	url = https://github.com/gam-mafia/MRFtools
